.profileContainer {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading, .error {
    text-align: center;
    padding: 20px;
    color: #777;
}

.error {
    color: #dc3545;
    font-weight: bold;
}

.userInfo p {
    margin-bottom: 10px;
    color: #333;
}

.editButton, .adminLink {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.adminLink {
    background-color: #28a745;
}

.editForm {
    margin-top: 20px;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.95em;
    color: #333;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: calc(100% - 22px);
}

.buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
}

.saveButton {
    background-color: #28a745;
    color: white;
}

.cancelButton {
    background-color: #dc3545;
    color: white;
}

.successMessage {
    color: #28a745;
    margin-bottom: 10px;
    font-weight: bold;
}

.errorMessage {
    color: #dc3545;
    margin-bottom: 10px;
    font-weight: bold;
}